<!DOCTYPE html>
<html lang="en">
<!--  <aside> </aside> правая навигация-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block title%}
    {%endblock%}
    
    {%block links%}
    {%endblock%}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <header id = 'header'>
        {%block header%}
        {%endblock%}
        
    </header>

    {%block content%}
    {%endblock%}
    <footer id = 'footer'>
        
        <a href="/aboutProject">About project</a>
        <a href="/aboutUs">About us</a>
        <a href="/license">License</a>
    </footer>
</body>

</html>