<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% load staticfiles %}
	<link rel = "stylesheet" href = "{% static 'login/css/main.css' %}">
</head>
<body>
	<div class = "page_header_bk"></div>
	<div id = "FormLogin">
		<form method="POST" action="">
			<input class = "LoginForm" id = 'index_email' type = "text" placeholder = "Nick" name = 'email' autocomplete = "off">
			<input class = "LoginForm" id = 'index_pass' type = "password" placeholder = "Пароль" name = 'pass' autocomplete = "off">
			<input class = "LoginForm" id = 'index_post' type = "submit" value = "Login" name = 'postLogin'>
			{% csrf_token %}
		</form>
	</div>
	<footer class = 'footer'>
		<div class = 'footer_line'>
			<nav class = 'menu'>
             <a class = 'footer_menu' href = '/AboutProject/'>О проекте</a>
			 <a class = 'footer_menu' href = '/AboutUs/'>О нас</a>
			 <a class = 'footer_menu' href = '/License/'>Лицензия</a>
			 <a class = 'footer_menu' href = '#'>Ну и там что-нибудь ещё</a>
			</nav>
		</div>
	</footer>
</body>
</html>