<!DOCTYPE html>
<html>
<head>
	<title>LOGIN</title>
	<link rel = "stylesheet" href = "css/main.css">
</head>
<body>
	<div class = "page_header_bk"></div>
	<div id = "FormLogin">
		<form method="POST" action="#">
			<input class = "LoginForm" id = 'index_email' type = "text" placeholder = "Nick"  autocomplete = "off">
			<input class = "LoginForm" id = 'index_pass' type = "password" placeholder = "Пароль" autocomplete = "off">
			<input class = "LoginForm" id = 'index_post' type = "submit" value = "Login">
		</form>
	</div>
	<footer class = 'footer'>
		<div class = 'footer_line'>
			<nav class = 'menu'>
             <p class = 'footer_menu'>О проекте</p>
			 <p class = 'footer_menu'>О нас</p>
			 <p class = 'footer_menu'>Лицензия</p>
			 <p class = 'footer_menu'>Ну и там что-нибудь ещё</p>
			</nav>
		</div>
	</footer>
</body>
</html>